<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>CanonicalUrl\CanonicalUrl</fullnamespace>
    <descriptive locale="en_US">
        <title>Adds the canonical Url in the metas of your site</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Ajoute l'Url canonique dans les metas de votre site</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.1</version>
    <authors>
        <author>
            <name>Gilles Bourgeat</name>
            <email>gilles.bourgeat@gmail.com</email>
            <website>https://github.com/gillesbourgeat</website>
        </author>
        <author>
            <name>Franck Allimant</name>
            <company>CQFDev</company>
            <email>franck@cqfdev.fr</email>
            <website>www.cqfdev.fr</website>
        </author>
        <author>
            <name>Vincent Lopes-Vicente</name>
            <company>OpenStudio</company>
            <email>vlopes@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>prod</stability>
</module>
